<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Negocio.Properties.Settings.AcademiaConnectionString"
            connectionString="Data Source=LAPTOP-AD9AU5QR;Initial Catalog=Academia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>