@model UI.WebFinal.Models.CursoModel

@{
    ViewBag.Title = "Inscribirse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

<h2>Inscribirse</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Curso</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.id_curso, new SelectList(ViewBag.Cursos, "id_curso", "materia_comision"), new { @class="form-control"})

            </div>
        </div> 

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Inscribirse" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>
