<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!--
      <add name="Data.Database.Properties.Settings.Academica" connectionString="Data Source=desktop-lj49gca\sqlexpress;Initial Catalog=Academica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Data.Database.Properties.Settings.AcademicaDS" connectionString="Data Source=desktop-2ksiuu1\sqlexpress;Initial Catalog=Academica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      -->
        <add name="Data.Database.Properties.Settings.Academia" connectionString="Data Source=desktop-lj49gca\sqlexpress;Initial Catalog=Academia;Integrated Security=True" />
    </connectionStrings>
</configuration>